*
{
    box-sizing: border-box;
}
body
{
    background-color: linen;
    color:black;
}
.container
{
    height:500px;
    width:500px;
    border:1px solid black;
    border-radius: 10px;
    /* display:flex;
    flex-direction:row ;
    gap:5px;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* place-items:center; */

}
.child
{
    /* height:100px;
    width:100px;
    color:white; */
    border: 1px solid black;
    background-color: brown;
  color: white;
    /* float:left; */
}
.child1
{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    border-color: black;
    /* place-self: center; */
}
