*
{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
header
{
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0px;
    width: 100%;
}
.menu ul li
{
    display:inline-block;
    margin: 5px;
    height: 40px;
    background-color: aqua;
    padding: 10px;
    border: 1px solid red;
    border-radius: 10px;
}
/* .menu ul li:hover{
    background-color: black;
} */
a
{
    text-decoration: none;
}
a:hover
{
    color:red;
}
a:active
{
    color:green;
}
/* a:visited
{
    color:brown;
} */
#about
{
    margin: 100px;
    
}
figure
{
    float:right;
}
#data p:last-child()
{
    background-color: red;
}
input:read-write
{
    background-color: red;
}

/*psuedo classes: all psuedo elements consists colon(:)*/
/*psuedo elements -- all psuedo elements will contain two colons (::)*/
p::first-letter{
    font-size: 40px;
}
p::before
{
    content: "hellooooooooooooooo";
}
figure img
{
    clip-path:circle(75px);
    filter:grayscale();
}
figure img:hover
{
    filter: none;
}
